@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@900&display=swap");

body {
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	color: white;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 512px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	background-color: #1b1b1e;
	border-radius: 10px;
	box-shadow: 0 0 100px 5px #1b2735;
}

h1 {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 4rem;
	text-align: center;
	background: linear-gradient(to right, #539ce9, #f000b4 /* #2f4385 */);
	-webkit-background-clip: text;
	color: transparent;
	margin-top: 4px;
	margin-bottom: 16px;
	background-clip: text;
}

#result {
	aspect-ratio: 1/1;
	width: 100%;
	background: #3a3a43;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	box-sizing: border-box;
}

#result,
textarea,
button {
	width: 100%;
	box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	width: 100%;
	height: 100px;
	margin: 16px 0;
	font-size: 1rem;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid transparent;
	resize: none;
	color: #fff;
	background-color: #2b2b2e;
}

textarea::selection {
	background: #5ba4d4;
	color: #000000;
}

textarea:focus {
	outline: none;
	border: 2px solid #539ce9;
}

button {
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #539ce9, #f000b4);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 16px;
	transition: box-shadow 0.3s ease, text-shadow 0.3s ease;
}

button:hover {
	box-shadow: 0 0 20px #539ce9, 0 0 20px #f000b4;
	text-shadow: 0 0 10px #ffffff;
}

/* Responsive design */
@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	textarea {
		height: 100px;
	}
}

.spinner {
	animation: spin 1s linear infinite;
	display: inline-block;
}

@keyframes spin {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
